.frame{
    background-color: #111215;
}

.whiteKey {
    -fx-background-color: #ffffff;
}

.whiteKey:armed {
    -fx-background-color: #f9f9f9;
}

.blackKey {
    -fx-background-color: #000000;
}

.blackKey:armed {
    -fx-background-color: #1C1C1C;
}

.playBackButton {
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-border-radius : 5px;
    -fx-border-width : 1px;
    -fx-border-color : gray;
    -fx-background-insets: 0;
}

.playTime {
    -fx-background-color: #d9fcdd;
}

.pauseTime {
    -fx-background-color: #fce3c5;
}

.stopTime {
    -fx-background-color: #d9f1fc;
}

.recordTime {
    -fx-background-color: #fcdad9;
}


.slider .track .fill {
    -fx-background-color: #f5d75f;
}

.slider .thumb {
    -fx-pref-height: 20px;
    -fx-pref-width: 32px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #AFAFAF;
    -fx-background-insets: 0;
    -fx-border-width: 1px;
    -fx-background-image: url("assets/icons/grip_slider.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
}

.slider .track {
    -fx-pref-height: 10px;
    -fx-background-radius: 5px;
    -fx-background-color: #f0efed;
    -fx-border-radius: 5px;
    -fx-border-color: lightgrey;
    -fx-border-width: 1px;
}

.note_label {
}

.step_label {

}

.step_label_base {
     -fx-text-fill: #a4a2a2;
}

.inst_label {
}

.step_label_highlight {
 -fx-text-fill: #4e4e4e !important;
 -fx-font-weight: bold;
}


.combo-box, .combo-box .list-cell, .label, .button, .slider .tick-label {
    -fx-font-family: "LCD";
}

